@import '../../../src/styles/colors.scss';

.div-field {
    width: 400px;
    margin-top: 26px;

    label {
        font-weight: 500;
        font-size: 14px;
        color: $black;
    }

    .div-input {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light-grey;
        padding-left: 10px;
        border: 1px solid transparent;
        border-radius: 8px;
        margin-top: 6px;

        span {
            font-size: 18px;
            margin-left: 8px;
            color: $green;
        }

        input {
            background-color: $light-grey;
            color: $black;
            padding: 16px;
            width: 100%;
            outline: none;
            font-size: 14px;
            border-radius: 8px;
        }

        .showEyeIcon {
            margin-right: 16px;
            cursor: pointer;

            .icon-show-hide {
                color: $green;
                font-size: 20px;
            }

        }
    }

    .div-input:focus-within {
        border: 1px solid $green;
        transition: 0.3s;
    }
}