@import "./colors.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: $light-grey;
    font-family: 'Poppins', sans-serif;
}

input {
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 0 0;
    outline: 0;
}